<!-- Include Quill stylesheet -->
<link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
<label for="title">Title</label>
<input type="text" name="title" id="title" value="Test">
<!-- Create the toolbar container -->
<div id="toolbar">
</div>

<!-- Create the editor container -->
<div id="editor" style="height: 400px">
    <p>Create a Post</p>
</div>
<input id="upload-input" type="file" name="upload[]">
<button id="submit">Submit</button>

<!-- Include the Quill library -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>

<!-- Initialize Quill editor -->
<script>
    let toolbarOptions = [
        ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
        ['blockquote', 'code-block'],

        [{ 'header': 1 }, { 'header': 2 }],               // custom button values
        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
        [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
        [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
        [{ 'direction': 'rtl' }],                         // text direction

        [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

        [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
        [{ 'font': [] }],
        [{ 'align': [] }],

        ['clean']                                         // remove formatting button
    ];

    let quill = new Quill('#editor', {
        modules: {
            toolbar: toolbarOptions
        },
        theme: 'snow'
    });

    $('#upload-input').on('change', function(){
        let files = $(this).get(0).files;
        let title = $('#title').val();
        console.log(files);
        if (files.length > 0){
            formData = new FormData();


            for (let i = 0; i < files.length; i++) {
                let file = files[i];

                formData.append('uploads[]', file, title + '.' + (file.name.split('.'))[1]);
            }

        }

    });

    $('#submit').on('click', function () {
        let data = $('.ql-editor').html();
        let title = $('#title').val();
        $.post('/admin/create',{body: data, title : title}, function(data){
            console.log(data);
        });

        $.ajax({
            url: '/admin/create/upload',
            type: 'POST',
            data: formData,
            cache: false,
            dataType: 'json',
            processData: false, // Don't process the files
            contentType: false, // Set content type to false as jQuery will tell the server its a query string request
            success: function(data, textStatus, jqXHR)
            {
             console.log('upload successful!');
            }
        });

    })
</script>