
<h1 class="blogTitle">The Transgineer</h1>


<div class="row">
    <div class="col-md"></div>
    <%- include('carousel', {posts: posts});%>
    <div class="col-md"></div>
</div>


<% for(let x = 2; x < posts.length; x+=2){ %>
  <%if(posts[x+1]){%>
    <%- include('blogRow', {posts: [posts[x], posts[x+1]]}) %>
  <%}%>
  <%if(!(posts[x+1])){%>
    <%- include('blogRow', {posts: [posts[x]]}) %>
  <%}%>
<%}%>
