<div class="row">
    <div class="col"></div>
    <img class="col blogImage img-fluid" src="/img/<%-post.title.split(' ').join('')%>.png" alt="">
    <div class="col"></div>
</div>

<h1 class="title"><%-post.title%></h1>
<div class="blogBody">
    <%- post.body %>
</div>